<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="文章管理">
	<#include "/admin/includes/header.html"/>
</head>

<body class="custom">
	<div class="page-content">
		<div class="page-header">
			<div class="widget-box">
				<form id="searchForm" class="form-horizontal" role="form" onsubmit="return admin.search();">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>搜索</h6>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a>
						</div>
						<div class="widget-toolbar no-border">
							<button class="btn btn-xs btn-info" type="submit"><i class="icon-search bigger-110"></i> 查&nbsp;询
							</button><button class="btn btn-xs" type="reset"><i class="icon-undo bigger-110"></i> 重&nbsp;置</button>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group" id="searchCnter"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /.page-header -->
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-table"></i>列表</h6>
						<div class="widget-toolbar"><a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a></div>
					</div>
					<div class="widget-body">
						<div class="widget-toolbox">
							<div class="btn-toolbar">
								<div class="btn-group" id="opt-cnter">
									<button class="btn btn-sm btn-success" onclick="add();"><i class="icon-plus"></i> 新增
									</button><button class="btn btn-sm btn-danger" onclick="edit();"><i class="icon-edit"></i> 编辑</button>
								</div>
							</div>
						</div>
						<div class="widget-main" id="tableMain">
							<table id="gridTable" style="height: 100%;"></table>
							<div id="gridPager"></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div>
		<!-- /row -->
		<!-- PAGE CONTENT ENDS -->
		<div id="dialog-model" class="dialog-model-hide">
			<form id="dialog-form" class="form-horizontal" role="form" onsubmit="return admin.submitDtoModelForm();">
				<div class="widget-box no-border">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>表单</h6>
					</div>
					<div class="widget-body">
						<div class="widget-main"></div>
						<div class="widget-toolbox padding-8 clearfix">
							<button type="button" class="btn btn-sm btn-danger pull-right" onclick="admin.closeDtoModel();">
								<i class="icon-trash"></i><span class="bigger-110"> 取&nbsp;消</span>
							</button>
							<button type="submit" class="btn btn-sm btn-primary pull-right">
								<i class="icon-ok"></i><span class="bigger-110"> 确&nbsp;定</span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	<script src="/admin/js/jqGrid/jquery.jqGrid.min.js"></script>
	<script src="/admin/js/jqGrid/i18n/grid.locale-cn.js"></script>
	<script type="text/javascript">
	$(function(){
		//初始化grid
		initGrid();
	});
	//打开文章新增页面
	function add(){
		open();
	}
	//打开文章编辑页面
	function edit(){
		open(1);
	}
	//打开页面 id为编辑的文章id
	function open(id){
		var tit = '<i class="icon-plus"></i> 新增';
		var param = '';
		if(id !== undefined){
			tit = '<i class="icon-edit"></i> 编辑';
			param = '?id=' + id;
		}
		var index = layer.open({
		      type: 2,
		      title: tit,
		      //shadeClose: true,
		      //shade: false,
		      maxmin: true, //开启最大化最小化按钮
		      area: ['80%', '80%'],
		      content: '/admin/forward/write.html' + param
		    });
		$('#layui-layer'+index).find('.layui-layer-title').css({'background': '#307ecc', 'color': '#fff'});
	}
	//初始化表格数据
	function initGrid(){
		$('#gridTable').jqGrid({
			url : '/admin/art/list.json',//config
			mtype: 'POST',
	        datatype : "json",
	        jsonReader: {
	            page: "pageNumber",   // json中代表当前页码的数据  
	            total: "totalPages", // json中代表页码总数的数据  
	            records: "total" // json中代表数据行总数的数据  
	        },
	        prmNames:  {page:'page', rows:'size', sort: 'sort', order: 'order', search: null, nd: null, npage:null},
			colNames:['文章编号', '文章名称', '文章描述'],
			colModel:[
				{name:'artId', index:'artId', width: 100},
				{name:'artTitle', index:'artTitle', width: 100},
				{name:'artDesc', index:'artDesc', sortable: false}
			], 
			rownumbers: false,//显示行编号
			viewrecords : true,
			rowNum: 10,
			rowList: [10,30,50,100],
			pager : '#gridPager',
			recordpos: 'center',
			pagerpos: 'right',
			recordtext: '显示 {0} - {1} 共 {2} 条',
			pgtext : '第 {0} 页， 共 {1} 页',
			loadtext: '正在请求数据...',
			altRows: true,
			//multiSort: true,
			multiselect: true,
			//multikey: "ctrlKey",
	        multiboxonly: false,
			editurl:'',
			autowidth: true,
			loadComplete : function() {
				var _this = this;
				setTimeout(function(){
					updatePagerIcons(_this);
					resizeGridHeight();
				}, 0);
			},
			loadError : function(xhr, st, err) {
				//app.error(xhr, st, err);
		    }
		});
		//替换分页插件的按钮图标
		function updatePagerIcons(table) {
			var replacement = {
				'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
				'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
				'ui-icon-seek-next' : 'icon-angle-right bigger-140',
				'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
			};
			$('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
				var icon = $(this);
				var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
				if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
			});
		};
		//修改表格大小
		function resizeGridHeight(){
			var sh = $('#searchForm').height();
			var wh = $(window).height();
			$('#tableMain').height(wh - 24 - sh - 112);
			$('#tableMain').find('.ui-jqgrid-view').height(wh - 24 - sh - 112 - 55);
			$('#tableMain').find('.ui-jqgrid-bdiv').height(wh - 24 - sh - 112 - 100);
		}
	}
	</script>
</body>

</html>