<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="后台登陆页面">
	<#include "/admin/includes/header.html"/>
</head>

<body class="login-layout login">
	<img class="login-bg"/>
	<div class="main-container">
		<div class="main-content">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="login-container">
						<div class="center">
							<h1>
								<i class="icon-leaf green"></i>
								<span class="red">Ace</span>
								<span class="white">Application</span>
							</h1>
							<h5 class="blue">&copy; Touching Maple</h5>
						</div>
						<div class="space-6"></div>
						<div class="position-relative">
							<div id="login-box" class="login-box visible widget-box no-border">
								<div class="widget-body">
									<div class="widget-main">
										<h5 class="header blue lighter bigger">
											<i class="icon-coffee green"></i> 请填写您的登录信息
										</h5>
										<div class="space-6"></div>
										<form id="loginForm" action="/admin/login.html" method="post" onsubmit="return login()">
											<fieldset>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input id="username" type="text" name="username" class="form-control" placeholder="用户账号" />
															<i class="icon-user"></i>
														</span>
													</label>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input id="password" type="password" name="password" class="form-control" placeholder="登录密码" />
															<i class="icon-lock"></i>
														</span>
													</label>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="captcha" value="captcha" class="form-control captcha" placeholder="验证码" />
															<img class="captcha-img" src="/static/a/images/gallery/image-1.jpg">
														</span>
													</label>
												<div class="space"></div>
												<div class="clearfix">
													<label class="inline">
															<input type="checkbox" name="remember-me" class="ace"/>
															<span class="lbl"> 记住密码</span>
														</label>
													<button id="submit" type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="icon-key"></i>
															登&emsp;录
														</button>
												</div>
												<div class="space-4"></div>
											</fieldset>
										</form>
									</div>
									<!-- /widget-main -->
									<div class="toolbar clearfix">
										<div>
											<a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
												<i class="icon-arrow-left"></i> 忘记密码
											</a>
										</div>
										<div>
											<a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">
													我要注册
													<i class="icon-arrow-right"></i>
												</a>
										</div>
									</div>
								</div>
								<!-- /widget-body -->
							</div>
							<!-- /login-box -->
							<div id="forgot-box" class="forgot-box widget-box no-border">
								<div class="widget-body">
									<div class="widget-main">
										<h4 class="header red lighter bigger">
											<i class="icon-key"></i> Retrieve Password
										</h4>
										<div class="space-6"></div>
										<p>
											Enter your email and to receive instructions
										</p>
										<form>
											<fieldset>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" placeholder="Email" />
															<i class="icon-envelope"></i>
														</span>
													</label>
												<div class="clearfix">
													<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
															<i class="icon-lightbulb"></i>
															Send Me!
														</button>
												</div>
											</fieldset>
										</form>
									</div>
									<!-- /widget-main -->
									<div class="toolbar center">
										<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
												Back to login
												<i class="icon-arrow-right"></i>
											</a>
									</div>
								</div>
								<!-- /widget-body -->
							</div>
							<!-- /forgot-box -->
							<div id="signup-box" class="signup-box widget-box no-border">
								<div class="widget-body">
									<div class="widget-main">
										<h4 class="header green lighter bigger">
											<i class="icon-group blue"></i> New User Registration
										</h4>
										<div class="space-6"></div>
										<p> Enter your details to begin: </p>
										<form>
											<fieldset>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" placeholder="Email" />
															<i class="icon-envelope"></i>
														</span>
													</label>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="Username" />
															<i class="icon-user"></i>
														</span>
													</label>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Password" />
															<i class="icon-lock"></i>
														</span>
													</label>
												<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Repeat password" />
															<i class="icon-retweet"></i>
														</span>
													</label>
												<label class="block">
														<input type="checkbox" class="ace" />
														<span class="lbl">
															I accept the
															<a href="#">User Agreement</a>
														</span>
													</label>
												<div class="space-24"></div>
												<div class="clearfix">
													<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="icon-refresh"></i>
															Reset
														</button>
													<button type="button" class="width-65 pull-right btn btn-sm btn-success">
															Register
															<i class="icon-arrow-right icon-on-right"></i>
														</button>
												</div>
											</fieldset>
										</form>
									</div>
									<div class="toolbar center">
										<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
											<i class="icon-arrow-left"></i> Back to login
										</a>
									</div>
								</div>
								<!-- /widget-body -->
							</div>
							<!-- /signup-box -->
						</div>
						<!-- /position-relative -->
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	
	<!-- /.main-container -->
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	<!-- page specific plugin scripts -->
	<!-- ace scripts -->
	<script type="text/javascript">
		if (window != top) top.location.href = location.href; //跳出框架
		var $bg = $('.login-bg').attr('src', '/static/a/images/login/bg_'+ new Date().getDay() +'.jpg');

		function show_box(id) {
			jQuery('.widget-box.visible').removeClass('visible');
			jQuery('#' + id).addClass('visible');
		}

		function login() {
			var form = $('#loginForm');
			var info = form.serialize();
			layer.load();
			$.post(form.attr('action'), info, function(data){
				layer.closeAll();
				if(data.success)
					location.href = data.msg;
				else
					layer.tips(data.msg, '#submit', {
						  tips: [1, 'red']
					});
			});
			return false;
		}
	</script>
</body>

</html>