<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="文章新增">
	<meta name="referrer" content="never">
	<link id="dropzonecss" rel="stylesheet" href="/admin/css/dropzone.css" />
	<#include "/admin/includes/header.html"/>
	<link id="tagcss" rel="stylesheet" href="/admin/css/jquery.tag-editor.css" />
	<style>
	.art-header {position: fixed; width: 100%; top: 5px; left: 0; z-index: 19891014; background: #fff;}
	.art-title input {margin: 0 5%; width: 90%; height: 30px; line-height: 30px; letter-spacing: 2px; font-size: 16px; text-align: center; border-width: 0 0 1px 0;}
	#editor {height: 500px; margin-top: 80px;}
	#saveMenu {position: absolute; right: 5px;}
	#saveMenu i {font-size: 18px; color: #D15B47;}
	#saveMenu i:hover {color: #307ECC;}
	#musicMenu i {position: relative; left: -2px; top: -2px;}
	.reco-tags .col-sm-9 {padding-top: 4px;}
	#artTags+.tag-editor {font-size: 12px; }
	#artTags+.tag-editor .tag-editor-tag {
	    color: #fff; background: #327FCC;
	    border-radius: 2px;
	}
	#artTags+.tag-editor .tag-editor-spacer { width: 7px; }
	#artTags+.tag-editor .tag-editor-delete { display: none; }
	.form-group textarea {border-color: #EEEEEE;}
	
	#uploadCover .dz-default {font-size: 14px;}
	#uploadCover .dz-preview {width:100%; margin:0;}
   	#uploadCover .dz-image {width:100%;}
   	#uploadCover .dz-image img {margin:0 auto;}
   	.dropzone {min-height: 150px;}
	</style>
</head>

<body class="custom">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="art-header">
					<div id="toolbar"></div>
					<h4 class="art-title">
						<input type="text" id="artTitle" placeholder="请输入标题"/>
						<input type="hidden" id="artSong" value=""/>
					</h4>
				</div>
				<div id="editor"></div>
			</div><!-- /.col -->
		</div>
		<!-- /row -->
		<!-- PAGE CONTENT ENDS -->
		<div id="dialogModel" class="dialog-model-hide">
			<form id="artForm" class="form-horizontal" role="form" onsubmit="return submitForm();">
				<div class="widget-box no-border">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-leaf"></i>保存文章</h6>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group" title="推荐封面分辨率400*800">
								<label class="col-sm-3 control-label no-padding-right" for="artCover">封面</label>
								<div class="col-sm-7">
									<input type="hidden" id="artCover"/>
									<div id="uploadCover" class="dropzone"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="artDesc">概要</label>
								<div class="col-sm-7">
									<textarea id="artDesc" class="autosize-transition form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="artTags">标签</label>
								<div class="col-sm-7">
									<input type="text" id="artTags">
								</div>
							</div>
							<div class="form-group reco-tags">
								<label class="col-sm-3 control-label no-padding-right">常用</label>
								<div class="col-sm-9">
									<button type="button" class="btn btn-minier btn-pink">标签1</button>
									<button type="button" class="btn btn-minier btn-pink">标签2</button>
									<button type="button" class="btn btn-minier btn-pink">标签3</button>
									<button type="button" class="btn btn-minier btn-pink">标签4</button>
									<button type="button" class="btn btn-minier btn-pink">标签5</button>
								</div>
							</div>
							<div class="form-group reco-tags">
								<label class="col-sm-3 control-label no-padding-right">热门</label>
								<div class="col-sm-9">
									<button type="button" class="btn btn-minier btn-primary">标签1</button>
									<button type="button" class="btn btn-minier btn-primary">标签2</button>
									<button type="button" class="btn btn-minier btn-primary">标签3</button>
									<button type="button" class="btn btn-minier btn-primary">标签4</button>
									<button type="button" class="btn btn-minier btn-primary">标签5</button>
								</div>
							</div>
						</div>
						<div class="widget-toolbox padding-8 clearfix">
							<button type="button" class="btn btn-sm btn-danger pull-right" onclick="layer.closeAll('page');">
								<i class="icon-trash"></i><span class="bigger-110"> 取&nbsp;消</span>
							</button>
							<button type="submit" class="btn btn-sm btn-primary pull-right" onclick="E.save.post();">
								<i class="icon-ok"></i><span class="bigger-110"> 确&nbsp;定</span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="dialog-model-hide">
			<audio id="audio" src="" autoplay="autoplay" controls="controls">您的浏览器不支持 audio 标签。</audio>
		</div>
	</div>
	
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	<script src="/admin/js/editor/wangEditor.min.js"></script>
	<script src="/admin/js/jquery.tag-editor.min.js"></script>
	<script src="/admin/js/dropzone.min.js"></script>
	<script type="text/javascript">
	jQuery.jsonp = function (url, func) {
    	var callback = "jsonpCallback_" + new Date().getTime() + Math.floor(Math.random() * 1000000);
        url = url + (url.indexOf( '?' ) + 1 ? '&' : '?') + 'callback=' + callback;
	    window[callback] = function (data) {
	        func(data);
	        window[callback] = null;
	    };
	    script = document.createElement('script');
	    script.setAttribute('src', url);
	    document.body.appendChild(script);
	};
	/* var u = 'http://tingapi.ting.baidu.com/v1/restserver/ting?format=json&calback=&from=webapp_music&method=baidu.ting.search.catalogSug&query=海阔天空';
	$.jsonp(u, function(data){
		console.log(data);
	}); */
	//var u = 'http://tingapi.ting.baidu.com/v1/restserver/ting?format=json&calback=&from=webapp_music&method=baidu.ting.song.play&songid=877578';
	//$.jsonp(u, function(data){
		//console.log(data);
		//需要在顶部加上标签： <meta name="referrer" content="never"> 才能播放
		//$('#audio').attr('src', data.bitrate.file_link);
	//});
	Dropzone.autoDiscover = false;
	$(function(){
		resizeEditor();
		initEditor();
		$(window).resize(function(){
			resizeEditor();
		});
		initTagEditor();
		initDropZone();
	});
	function resizeEditor(){
		$('#editor').height($(window).height() - 100);
	}
	//提交文章
	function submitForm(){
		var title = $('#artTitle').val();
		var content = null;//editor.
		var tags = $('#artTags').val();
		//post to server
		return false;
	}
	//初始化标签
	function initTagEditor(){
		var artTags = $('#artTags');
	    artTags.tagEditor({
	        placeholder: '添加标签...',
	        //maxLength: 50,
	        clickDelete: true,
	        onChange: function(field, editor, tags) {
	        	if(tags.length > 5){
	        		layer.msg('不能超过5个标签!', {time:800})
	            	artTags.tagEditor('removeTag', tags[5]);
	            }
	        }
	    });
	    //推荐标签的点击事件
	    $('.reco-tags').on('click', '.btn', function(){
	    	var tag = $(this).text();
	    	artTags.tagEditor('addTag', tag);
	    });
	}
	//初始化封面导入
	function initDropZone(){
		var myDropzone = new Dropzone("#uploadCover", {
			url: '/common/upload/editor.json',
			method: 'post',
			maxFiles: 1,
			acceptedFiles: "image/*",
			addRemoveLinks: true,
			dictDefaultMessage: '<i class="w-e-icon-image"></i>&nbsp;选择封面',
			dictRemoveFile: '移除封面',
			dictInvalidFileType:'请选择封面',
			init: function() {
	            this.on("success", function(file, data) {
	            	uploadedFile = file;
	            	//yt.alert(data);
	            	if(data.errno == 0){
		            	var filepath = data.data[0];
		            	$('#artCover').val(filepath);
	            	}else{
	            		if(uploadedFile.name){
	         			   uploadedFile['handle'] = 1;//表示模态框隐藏时移除文件，但不删除服务器的文件
	         			   myDropzone.removeFile(uploadedFile);
	         		   }
	            	}
	            });
	            this.on("removedfile", function(file) {
	            	myDropzone.options.maxFiles = 1;
	            	if(file.name === 'uploadedImg' || file.name === uploadedFile.name)
	            		uploadedFile = {};
	            	if(!file.handle){
	            		var imgpath = $('#artCover').val();
	            		$('#artCover').val('');
	            		$.post('/common/file/del.json',{path:imgpath});
	            	}
	            });
	        }
	    });
		//初始化dropzone图片
		function initImg(uri){
			var mockFile = { name: 'uploadedImg', accepted:true };
			myDropzone.emit("addedfile", mockFile);
			myDropzone.emit("thumbnail", mockFile, uri);
			myDropzone.createThumbnailFromUrl(mockFile, uri);
			myDropzone.emit("complete", mockFile);
			myDropzone.options.maxFiles = 0;//myDropzone.options.maxFiles - 1;
			uploadedFile = mockFile;
		}
	}
	var E = window.wangEditor;
	//初始化编辑器
	function initEditor(){
		var editor = new E('#toolbar', '#editor');
		//自定义菜单 - START
		//自定义保存菜单
	    E.save = {
    		// editor create之后调用
    		init: function(){
    			$(".w-e-toolbar").append('<div id="saveMenu" class="w-e-menu" title="保存"><i class="icon-save"></i></div>');
    			$('#saveMenu').click(function(){
    				E.save.submit();
    			});
    		},
    		submit: function(){//保存按钮
    			$tagModel = $('#dialogModel');
    			$tagModel.removeClass('dialog-model-hide')
    			//首先弹出标签选择页面
    			layer.open({
    			  id: 'layer-tag-model',
		  		  type: 1,
		  		  title: false,
		  		  move: '.widget-header',
		  		  closeBtn: 0,
		  		  skin: 'dialog-model',
		  		  shade: false,
		  		  shadeClose: true,
		  		  area: ['560px'],
		  		  content: $tagModel,
		  		  success: function(){
		  			$('#layer-tag-model').removeAttr('style');
		  		  },
		  		  end: function(){
		  			$tagModel.addClass('dialog-model-hide');
		  		  }
				});
    		},
    		post: function(){//提交数据到服务器
    			//验证数据有效性
	  			//保存数据到后台去
	  			//文章标题验证 - START
	  			var artTitle = $.trim($('#artTitle').val());
	  			var re = /^\s*$/;
	    		if(re.test(artTitle))
	    			return layer.msg("请输入文章标题", {time:2000});
	    		if(artTitle.replace(/[^\x00-\xff]/g, "01").length > 80)
	    			return layer.msg("文章标题不能超过40个汉字", {time:2000});
	  			//文章标题验证 - 
	  			var artSong = $('#artSong').val();//背景歌曲，存放id(...)
	  			var artCont = editor.txt.html();
	  			//var $artContTxt = editor.txt.text();//纯文本
	  			var $artImgs = $('#'+editor.textElemId).find('img[editor]');//上传的图片,'editor'属性是修改了wangEditor的源码
	  			var imgUrlArr = [];//该文章上传的图片
	  			$.each($artImgs, function(){
	  				imgUrlArr.push($(this).attr('src'));
	  			});
	  			var artDesc = $.trim($('#artDesc').val());//概要，如果为空则取文章前200个数
	  			if(re.test(artDesc)){//如果概要为空，则截取文章前200个字
	  				var artContTxt = editor.txt.text();
	  				artDesc = artContTxt.substring(0, 200);
	  			}
	  			var artTags = $('#artTags').tagEditor('getTags')[0].tags;//文章标签
	  			//封面
	  			//存储的图片列表，如果封面不存在则取第一张图片
	  			$.post('/admin/art/save.json', {
	  				artTitle: artTitle,
	  				artSong: artSong,
	  				artCont: artCont,
	  				artDesc: artDesc,
	  				artTags: artTags.join(','),
	  				artCover: $('#artCover').val(),
	  				artImgs: imgUrlArr.join(',')
	  			}, function(result){
	  				layer.open({
	  					title: '信息',
	  					icon: 1,
	  					skin: 'layer-skin',
	  					content: result.msg,
	  					yes: function(index, layero){
						   if(result.success){//关闭页面，调用父页面
								parent.closeAll();
							}
						}
	  				});
	  			});
    		}
    	};
    	//自定义音乐菜单
	    E.music = {
    		// editor create之后调用
    		init: function(){
    			$(".w-e-toolbar").append('<div id="musicMenu" class="w-e-menu" title="插入音乐"><i class="icon-music"></i></div>');
    			$('#musicMenu').click(function(e){
    				E.music.open();
    				e.stopPropagation();
    			});
    		},
    		open: function(){
    			var $artSong = $('#artSong');
    			var song = $artSong.val();
    			if(song.indexOf(':-:') > -1)
    				song = song.split(':-:')[1];
    			else
    				song = '';
    			var arr = [];
    			arr.push('<div class="w-e-panel-container w-e-panel-music" style="width:350px; margin-left:-175px;"><i onclick="E.music.close(this);" class="w-e-icon-close w-e-panel-close"></i><ul class="w-e-panel-tab-title"><li class="w-e-item w-e-active">插入音乐</li></ul><div class="w-e-panel-tab-content"><div>');
                arr.push('<input onKeyUp="E.music.search(this);" type="text" class="block" placeholder="搜索音乐" value="'+song+'">');
				arr.push('<select class="form-control" style="display:none;" multiple="multiple"></select>');
                arr.push('<div class="w-e-button-container">');
                arr.push('<button onClick="E.music.add(this);" class="right">确定</button>');
                arr.push('</div>');
                arr.push('</div></div></div>');
    			$('#editor').append(arr.join(''));
    			$(document).unbind('click').on('click', function(){
    				$('.w-e-panel-music').remove();
    			});
    			$('.w-e-panel-music').on('click', function(e){
    				e.stopPropagation();
    			});
    		},
    		search: function(input){
    			var $input = $(input);
    			var val = $.trim($input.val());
    			var $select = $input.siblings('select');
    			if(/^[s　]|[ ]$/gi.test(val) || val === ''){//判断是否为空字符串
    				$select.slideUp();
    				return;
    			}
    			var lasy = $input.attr('lasy');
    			var time = new Date().getTime();
    			if(lasy){
    				//超过1秒钟才查询
    				if(time - Number(lasy) <= 1000) return;
    			}
    			$input.attr('lasy', time);
    			var u = 'http://tingapi.ting.baidu.com/v1/restserver/ting?format=json&calback=&from=webapp_music&method=baidu.ting.search.catalogSug&query=' + val;
				$.jsonp(u, function(data){
					var errno = data.errno;
					if(errno == 22001){//没有查询到数据
						$select.slideUp();
					}else{
						$select.slideDown();
						var list = data.song;
						var songid,songname,artistname,html = [];
						for(var i = 0, l = list.length; i < l; i++){
							songid = list[i]['songid'];
							songname = list[i]['songname'];
							artistname = list[i]['artistname'];
							html.push('<option value="'+songid+':-:'+songname+'">'+songname+' ['+artistname+']</option>');
						}
						$select.empty().append(html.join(''));
					}
				});
    		},
    		add: function(btn){
    			var $artSong = $('#artSong');
    			var $select = $(btn).parent().siblings('select');
    			var arr = $select.val()[0].split(':-:');
    			$artSong.val(JSON.stringify(arr));
    			E.music.close($select);
    		},
    		close: function(obj){
    			$(obj).parents('.w-e-panel-container').remove();
    		}
    	};
		//自定义菜单 - END
	    editor.customConfig.menus = [
		    'head',  // 标题
		    'bold',  // 粗体
		    'italic',  // 斜体
		    'underline',  // 下划线
		    'strikeThrough',  // 删除线
		    'foreColor',  // 文字颜色
		    'backColor',  // 背景颜色
		    'link',  // 插入链接
		    'list',  // 列表
		    'justify',  // 对齐方式
		    'quote',  // 引用
		    'emoticon',  // 表情
		    'image',  // 插入图片
		    'table',  // 表格
		    'video',  // 插入视频
		    'undo',  // 撤销
		    'redo'  // 重复
	    ];
	    // 配置服务器端地址
		editor.customConfig.uploadImgServer = '/common/upload/editor.json';
		// 将图片大小限制为 20M
		editor.customConfig.uploadImgMaxSize = 20 * 1024 * 1024
		//可自定义filename
		editor.customConfig.uploadFileName = 'file';
		//上传图片后，修改了一下wangEditor的js在[<img src=] 位置加了一个editor的属性，用于区分是否为上传的图片
		//上传图片出错时的提示
		editor.customConfig.customAlert = function (info) {
		    // info 是需要提示的内容
		    layer.msg(info);
		}
		//上传图片返回后插入图片
		/* editor.customConfig.uploadImgHooks = {
		    customInsert: function (insertImg, result, editor) {
		    	console.log(insertImg)
		        if(result.errno == 0){
		        	var imgs = result.data;
		        	for(var i = 0; i < imgs.length; i++){
		        		insertImg(imgs[i] + '?editor');//添加'?editor'用于区分是否为新添加的图片	
		        	}
		        }
		    }
	    } */
	    editor.create();
	    E.save.init();//初始化菜单操作
	    E.music.init();//初始化音乐菜单
	}
	</script>
</body>

</html>