<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="google" content="notranslate" />
    <meta name="referrer" content="never">
    <title>${(article.artTitle)!""}</title>
    <meta name="keywords" content="追风者也, 旅行，摄影" />
    <meta name="description" content="世界上每个角落都有人过着相似的人生" />
    <meta name="author" content="ibetter825" />

    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_525225_zwd9ikl3hokihpvi.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header class="top">
        <section class="art-title"><span class="hide">${(article.artTitle)!""}</span></section>
        <ul>
            <li class="logo"><img src="images/logo2.png" alt="風"></li>
            <li class="music"><div><i class="iconfont icon-music"></i></div></li>
            <li class="opt">
                <div><i class="iconfont icon-liked liked"></i></div>
            </li>
        </ul>
    </header>
    <article class="detail">
        <header>
            <h1>${(article.artTitle)!""}</h1>
            <aside id="artInfo"><span>十二月 18, 2017</span></aside>
        </header>
        <section class="content">
        	${(article.artCont)!""}
        </section>
        <section class="comment">
            <h4>评论列表</h4>
            <ul>
                <li>
                    <header class="comt-info">
                    	<div class="comt-info-item">
                    		<img class="avatar" src="images/logo2.png"/>
                    	</div>
                    	<div class="comt-info-item">
                    		回复
                    	</div>
                    	<div class="comt-info-item">
                    		<p class="comt-user">唐僧洗头用飘柔</p>
                    		<p class="comt-time">2018/01/31 12:12</p>
                    	</div>
                    </header>
                    <section class="comt-cont">
                    	<p>大风起兮云飞扬，安得猛士兮守四方</p>
                    </section>
                    <ol>
		                <li>
		                    <header class="comt-info">
		                    	<div class="comt-info-item">
		                    		<img class="avatar" src="images/logo2.png"/>
		                    	</div>
		                    	<div class="comt-info-item">
		                    		回复
		                    	</div>
		                    	<div class="comt-info-item">
		                    		<p class="comt-user">唐僧洗头用飘柔</p>
		                    		<p class="comt-time">2018/01/31 12:12</p>
		                    	</div>
		                    </header>
		                    <section class="comt-cont">
		                    	<p>什么时候再加紧真心的煎熬才能我的像做菜一样粗茶淡饭也会也不要再多的惆怅再多</p>
		                    </section>
		                </li>
		            </ol>
                </li>
            </ul>
        </section>
    </article>
    <!-- 评论表单 -->
    <!-- <section class="art-comt-form">
       <form>
       		<ul>
       			<li>
       				<label>用户名</label>
       				<input type="text" name="username"/>
       			</li>
       			<li>
       				<label>邮&emsp;箱</label>
       				<input type="email" name="email">
       			</li>
       			<li>
       				<label>内&emsp;容</label>
       				<textarea></textarea>
       			</li>
       			<li>
       				<button>提交</button>
       			</li>
       		</ul>
       </form>
      </section> -->
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    <div class="hide2">
		<audio id="audio" src="" autoplay="autoplay" controls="controls">您的浏览器不支持 audio 标签。</audio>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="js/app.js"></script>
<script>
	var id = '${(article.artId)!""}';
    $(function() {
    	//获取文章相关数据
		$.post('/' + id + '/count.json', function(data){
			if(data.success){
				var artInfoArr = [];
				var count = data.data['count'];
				//<span>阅读  4228</span><span>字数 1309</span><span>评论 19</span><span>喜欢 52</span>
				artInfoArr.push('<span>阅读&nbsp;'+ count['scanCount'] +'</span>');
				artInfoArr.push('<span>字数&nbsp;1309</span>');
				artInfoArr.push('<span>评论&nbsp;'+ count['comtCount'] +'</span>');
				artInfoArr.push('<span>喜欢&nbsp;'+ count['likeCount'] +'</span>');
				$('#artInfo').append(artInfoArr.join(''));
			}
		},'json');
		//播放歌曲
		var song = '${(article.artSong)!""}';
		if(song !== ''){
			song = JSON.parse(song);
			var u = 'http://tingapi.ting.baidu.com/v1/restserver/ting?format=json&calback=&from=webapp_music&method=baidu.ting.song.play&songid=' + song[0];
			app.jsonp(u, function(data){
				//需要在顶部加上标签： <meta name="referrer" content="never"> 才能播放
				$('#audio').attr('src', data.bitrate.file_link);
				$('.music>div').addClass('rotate').find('.iconfont').addClass('playing').attr('title', song[1]);
			});
			//播放控制
			$('.music').find('.iconfont').click(function(){
				var audio = document.getElementById('audio'); 
				if(audio.paused){
					$('.music>div').addClass('rotate').find('.iconfont').addClass('playing');
					audio.play();//audio.play();//播放  
				}else{
					$('.music>div').removeClass('rotate').find('.iconfont').removeClass('playing');
					audio.pause();//暂停
				}
			});
		}
		//滚动事件
		$(window).scroll(function(){
			var top = $(window).scrollTop();
			if(top > 90){
				$('.art-title>span').fadeIn();
			}else{
				$('.art-title>span').fadeOut();
			}
		});
    });
</script>

</html>