<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="google" content="notranslate" />
    <title>風 | ${(article.artTitle)!""}</title>
    <meta name="keywords" content="追风者也, 旅行，摄影" />
    <meta name="description" content="世界上每个角落都有人过着相似的人生" />
    <meta name="author" content="ibetter825" />

    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_525225_zzi24zalkvd6ajor.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header class="top">
        <section class="art-title"><span>${(article.artTitle)!""}</span></section>
        <ul>
            <li class="logo"><img src="images/logo2.png" alt="風"></li>
            <li class="music"><div class="rotate"><i class="iconfont icon-music playing"></i></div></li>
            <li class="opt">
                <div><i class="iconfont icon-liked liked"></i></div>
            </li>
        </ul>
    </header>
    <article class="detail">
        <header>
            <h1>${(article.artTitle)!""}</h1>
            <aside><span>十二月 18, 2017</span><span>阅读 <i id="scanCount">4228</i></span><span>字数 <i>1309</i></span><span>评论 <i id="comtCount">19</i></span><span>喜欢 <i id="likeCount">52</i></span></aside>
        </header>
        <section class="content">
        	${(article.artCont)!""}
        </section>
        <!-- <section class="comment">
            <h4>评论列表</h4>
            <ul>
                <li>
                    <header></header>
                </li>
            </ul>
        </section> -->
    </article>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
	var id = ${(article.artId)!""};
    $(function() {
		$.post('/' + id + '/count.json', function(data){
			if(data.success){
				var count = data.data['count'];
				$('#scanCount').html(Number(count['scanCount']) + 1);
				$('#likeCount').html(count['likeCount']);
				$('#comtCount').html(count['comtCount']);
			}
		},'json');
    });
</script>

</html>