<!--[if !IE]> -->
	<script src="/admin/js/jquery-2.0.3.min.js"></script>
	<!-- <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script> -->
	<!-- <![endif]-->
	<!--[if IE]>
		<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<![endif]-->
	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js'>" + "<" + "script>");
	</script>
	<!-- <![endif]-->
	<!--[if IE]>
	<script type="text/javascript">
		window.jQuery || document.write("<script src='http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js'>"+"<"+"script>");
	</script>
	<![endif]-->
	<script src="/admin/js/bootstrap.min.js"></script>
	<!-- <script src="/admin/js/jquery.nicescroll.min.js"></script> -->
	<script src="/admin/js/layer/layer.js"></script>
	<!-- page specific plugin scripts -->
	<!-- ace scripts -->
	<!--<script src="/admin/js/ace-elements.min.js"></script>-->
	<script src="/admin/js/ace.min.js"></script>
	<!-- ace settings handler -->
	<script src="/admin/js/ace-extra.min.js"></script>
