<meta charset="utf-8" />
	<title>${title!''}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- basic styles -->
	<link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/admin/css/font-awesome.min.css" />
	<!--[if IE 7]>
		  <link rel="stylesheet" href="/admin/css/font-awesome-ie7.min.css" />
		<![endif]-->
	<!-- page specific plugin styles -->
	<link rel="stylesheet" href="/admin/js/layer/skin/default/layer.css" />
	<link rel="stylesheet" href="/admin/css/ui.jqgrid.css" />
	<!-- ace styles -->
	<link rel="stylesheet" href="/admin/css/ace.min.css" />
	<!--<link rel="stylesheet" href="/admin/css/ace-rtl.min.css" />-->
	<!--<link rel="stylesheet" href="/admin/css/ace-skins.min.css" />-->
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="/admin/css/ace-ie.min.css" />
	<![endif]-->
	<link id="stylecss" rel="stylesheet" href="/admin/css/style.css" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="/admin/js/html5shiv.js"></script>
		<script src="/admin/js/respond.min.js"></script>
		<![endif]-->