/* scroll style */
body::-webkit-scrollbar, div::-webkit-scrollbar, ul::-webkit-scrollbar {width:5px;/*纵向滚动条的宽度*/height:5px;/*横向滚动条的高度*/}
body::-webkit-scrollbar-button:vertical:decrement, div::-webkit-scrollbar-button:vertical:decrement, ul::-webkit-scrollbar-button:vertical:decrement {width:5px; height:5px; background-color:rgba(85, 85, 85, 1);}
body::-webkit-scrollbar-button:vertical:increment, div::-webkit-scrollbar-button:vertical:increment, ul::-webkit-scrollbar-button:vertical:increment {width:5px; height:5px; background-color:rgba(85, 85, 85, 1);}
body::-webkit-scrollbar-button:horizontal:decrement, div::-webkit-scrollbar-button:horizontal:decrement, ul::-webkit-scrollbar-button:horizontal:decrement {width:5px; height:5px; background-color:rgba(85, 85, 85, 1);}
body::-webkit-scrollbar-button:horizontal:increment, div::-webkit-scrollbar-button:horizontal:increment, ul::-webkit-scrollbar-button:horizontal:increment {width:5px; height:5px; background-color:rgba(85, 85, 85, 1);}
body::-webkit-scrollbar-track, div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {background:rgba(0, 0, 0, 0.2);}
body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {background:rgba(62, 142, 185, 0.8);}
body::-webkit-scrollbar-corner, div::-webkit-scrollbar-corner, ul::-webkit-scrollbar-corner {background:rgba(0, 0, 0, 0.2);}
/* ace */
.custom {font-family: "Microsoft Yahei";}
.custom .page-content {padding: 8px 12px 0;}
.custom .page-header {padding: 0; border-bottom: 0; margin: 0 0 8px;}
.custom .page-header .widget-main {padding:4px 0 12px;}
.custom .widget-toolbox {padding: 4px 12px;}
.custom .page-header .form-group {margin-bottom: 0;}
.custom .page-header .form-group>div{margin-top: 8px;}
.custom .page-header .form-group label[class*="col-"] {padding-top:4px; margin-bottom:4px;}
.custom select {height: 28px;}
.custom .form-group .ztree-cnter {min-height:0;}
.custom .form-group .ztree {position: fixed; z-index: 1990; border: 1px solid #C6C6C6; border-top: 0; background-color: #FFF; overflow: auto;}
/* .custom .form-group .ztree * {background-color: #FFF;} */
/* common */
.hide {display: none;}
body .dialog-model .widget-main {padding-top: 18px; padding-bottom: 0; max-height: 280px; overflow: auto;}
body .dialog-model .widget-box {margin: 0;}
body .dialog-model .widget-main .col-sm-6 {position: static;}/* 解决使用dto-form内容填充到layer后出现验证错误时父容器出现滚动条 并错位的问题*/
.dialog-model-hide {position: absolute; top: -100%; left: -100%;}
body .daterangepicker.dropdown-menu {z-index: 1910130825;}
/*layer skin*/
body .layer-skin .layui-layer-title{background: #307ECC; color: #fff; border: none;}
body .layer-skin .layui-layer-content {padding: 10px;}
body .layer-skin .layui-layer-btn a {color: #fff; border-radius: 0; border: none; margin: 0;}
body .layer-skin .layui-layer-btn .layui-layer-btn0{background: #428BCA; }
body .layer-skin .layui-layer-btn .layui-layer-btn1{background: #D15B47;}

/* list page */
.form-btns {margin-top: 12px; text-align:right;}
/*grid*/
.ui-jqgrid .loading {color: #307ECC; border-color: #307ECC;}
/*main*/
#iframe {width: 100%; height: 100%;}
/*login*/
.login {overflow-y: hidden;}
.login-bg {/* 在不同分辨率下还需要修改一下 */width:100%; position:absolute; top:0; left:0;-webkit-filter: blur(20px);-moz-filter: blur(20px);-ms-filter: blur(20px);-o-filter: blur(20px);filter: blur(20px);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false);}
.captcha {width: 50%; float: left; border-right: none;}
.captcha-img {width: 50%; height:34px; display: block; float: right;}
