<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.winder.dao.mapper.ArticleMapper" >
	<sql id="baseColumnList">
		art_id artId, art_title artTitle, art_desc artDesc, author_id authorId, add_time addTime, edit_time editTime, art_status artStatus, art_cont artCont, art_tags artTags, art_imgs artImgs, art_cover artCover, art_song artSong
	</sql>
    <select id="selectListByRq" parameterType="java.util.Map" resultType="java.util.Map">
    	select id, art_title as artTitle, art_desc as artDesc, clz_id as clzId, user_id as userId, add_time as addTime, art_tag_nms as artTagNms, art_tag_ids as artTagIds, art_imgs as artImgs from article 
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
    		<if test="id != null and id != ''">
	    		id = #{id, jdbcType=BIGINT}
	    	</if>
	    	<if test="artTitle != null and artTitle != ''">
	    		art_title like concat('%', #{artTitle, jdbcType=VARCHAR}, '%')
	    	</if>
	    	<if test="clzId != null and clzId != ''">
	    		clz_id = #{clzId, jdbcType=INTEGER}
	    	</if>
	    	<if test="userId != null and userId != ''">
	    		user_id = #{userId, jdbcType=INTEGER}
	    	</if>
	    	<if test="artState != null and artState != ''">
	    		art_state = #{artState, jdbcType=INTEGER}
	    	</if>
	    	<if test="artState == null or artState == ''">
	    		art_state <![CDATA[<>]]> -1
	    	</if>
    	</trim>
    </select>
    <select id="selectListByRqAndPager" resultType="java.util.Map">
    	select <include refid="baseColumnList"/> from article 
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
	    	<if test="rq.authorId != null and rq.authorId != ''">
	    		author_id = #{rq.authorId, jdbcType=INTEGER}
	    	</if>
	    	<if test="rq.artStatus != null and rq.artStatus != ''">
	    		art_status = #{rq.artStatus, jdbcType=INTEGER}
	    	</if>
	    	<if test="rq.artStatus == null or rq.artStatus == ''">
	    		art_status <![CDATA[<>]]> -1
	    	</if>
    	</trim>
    	order by art_id desc
    </select>
</mapper>